BODY{
	FONT-FAMILY: ARIAL,CALIBRI;
	BACKGROUND: LINEAR-GRADIENT(TO RIGHT,#6A11CB,#2575FC);
	COLOR: #333;
	DISPLAY:FLEX;
	JUSTIFY-CONTENT: CENTER;
	ALIGN-ITEMS: CENTER;
	HEIGHT: 100VH;
	MARGIN: 0;
    }
	
.REGISTRO-CONTAINER{
	BACKGROUND-COLOR:#FFF;
	PADDING:30PX 40PX;
	BORDER-RADIUS: 10PX;
	BOX-SHADOW: 0PX 4PX 15PX RGBA(0,0,0,0,2);
	WIDTH: 400PX;
    }

 H2{
	TEXT-ALIGN: CENTER;
	COLOR: #2575FC;
    MARGIN-BOTTOM: 20PX;
    }
	
 FORM{
	DISPLAY:FLEX;
	FLEX-DIRECTION:COLUMN;
    }
	
 LABEL{
	 MARGIN-TOP: 10PX;
	 FONT-WEIGHT: BOLD;
    }
	
 LABEL{
	 MARGIN-TOP: 1OPX;
	 FONT-WEIGHT: BOLD;
    }
 INPUT,SELECT{
	 PADDING: 10PX;
	 MARGIN-TOP: 5PX;
	 BORDER: 1PX SOLID #CCC;
	 BORDER-RADIUS: 5PX;
    }
	 
 INPUT:FOCUS{
	 BORDER-COLOR: #2575FC;
	 OUTLINE: NONE;
    }
	
 .BOTON{
	MARGIN-TOP: 20PX;
	PADDING: 10PX;
	BACKGROUND-COLOR: #2575FC;
	COLOR:WHITE;
	BORDER:NONE;
	BORDER-RADIUS: 5PX;
	FONT-SIZE: 16PX;
	WRSOR: POINTER;
    }
	
.BOTON:HOVER{
	BACKGROUND-COLOR: #1A5FDO;
    }
	
.NOTA {
	TEXT-ALIGN:CENTER;
	MARGIN-TOP:15PX;
	FONT-SIZE:0.9EM;
	COLOR:#555;
    }


  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
	